@import url('https://fonts.googleapis.com/css?family=Oswald|Titillium+Web');
body{
    background-color: transparent;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Titillium Web', sans-serif;
}
/*Etiqueta Nav*/
nav{
    widows: 100%;
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
}
nav ul li a{
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    color:aliceblue;
}
nav ul li a:hover{
text-decoration: none;
background-color: coral;
color: black;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 100;
}
.Lista{
    display: block;
}
nav ul li{
    float: left;
}
nav ul li.active a{
    color:coral;
}
.iconBars{
    color:aliceblue;
    font-size: 1.5em;
    padding:10px;
    display: none;
}
/*Fin de la Etiqueta Nav*/

/*Etiqueta Form*/
form{
    padding: 0.3%;
    max-width: 650px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: azure;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 auto;
}
form div{
    padding: 15px;
}
form input{
    display: block;
    margin: 3px;
    position: relative;
    width: 70%;
}
/*Fin de la Etiqueta Form*/

/*Clase Principal*/
.Principal{
    border: 1px transparent;
    color: black;
    max-width: 92%;
    min-width: 30%;
    position: relative;
    top: 5px;
    margin:0 auto;
}
/*Fin de la Clase Principal*/
/* Imagenes */
#Foto{
    float: left;
    max-width: 90px; max-height: 90px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#Portada{
    float: left;
    max-width: 300px; max-height: 500px;
    margin-top: 6px;
    padding-right: 12px;
}
/*Fin de las Imagenes*/
/*Etiqueta header*/
#Header{
    border: transparent;
    height: 120px;
    padding: 10px 20px;
    background-color: rgba(245, 141, 141, 0.925);
    border-radius: 1mm;
}
/*Fin de la Etiquita*/
/*Etiqueta Section*/
.aliniadoCascada{
    border: 1px transparent;
    width: 91%;
    padding: 5px;
    margin: 2%;
    margin-bottom: 3%;
}
section{
    display: block;
    padding-left: 100%;
    padding-block-end: 8cm;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 1mm;
}
section[id=Libro1]{
    background: ivory;
}
    section[id=Libro1] input[id=Libro1]{
        text-decoration: none;
        padding-left: 10%;
        padding-right: 10%;
        margin-right: 1%;
        margin-top: 8%;
        font-family: arial;
        text-transform: uppercase;
        float: right;
        border: #1f8500;
        font-size: 150%;
        color: black;
        background-color: #bfffd5;
        border-radius: 1mm;
        -webkit-border-radius: 1mm;
        -moz-border-radius: 1mm;
        -ms-border-radius: 1mm;
        -o-border-radius: 1mm;
    }
    section[id=Libro1] input[id=Libro1]:hover{
        color: ivory;
        background-color: #bc6355;
        text-decoration: none;
  }
section[id=Libro2]{
    background: rgb(241, 146, 130);
}
    section[id=Libro2] input[id=Libro2]{
        text-decoration: none;
        padding-left: 10%;
        padding-right: 10%;
        margin-right: 1%;
        margin-top: 4%;
        font-family: arial;
        text-transform: uppercase;
        float: right;
        border: #166bf5;
        font-size: 150%;
        color: black;
        background-color: #ff9a3c;
        border-radius: 1mm;
        -webkit-border-radius: 1mm;
        -moz-border-radius: 1mm;
        -ms-border-radius: 1mm;
        -o-border-radius: 1mm;
}
    section[id=Libro2] input[id=Libro2]:hover{
        color:rgb(255, 229, 225);
        background-color:  #bc6355;
        text-decoration: none;
  }
    section[id=Libro3]{
    background: rgba(113, 188, 238, 0.493);
}
section[id=Libro3] input[id=Libro3]{
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 1%;
    margin-top: 5%;
    font-family: arial;
    text-transform: uppercase;
    float: right;
    border: #000000;
    font-size: 150%;
    color: black;
    background-color: #bef0ff;
    border-radius: 1mm;
    -webkit-border-radius: 1mm;
    -moz-border-radius: 1mm;
    -ms-border-radius: 1mm;
    -o-border-radius: 1mm;
}
section[id=Libro3] input[id=Libro3]:hover{
    color:rgb(255, 229, 225);
    background-color:  #dd7f70;
    text-decoration: none;
}
    section[id=Libro4]{
    background: rgb(207, 250, 126);
}
section[id=Libro4] input[id=Libro4]{
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 1%;
    margin-top: 5%;
    font-family: arial;
    text-transform: uppercase;
    float: right;
    border: #f1f7fc;
    font-size: 150%;
    color: black;
    background-color: #ebf8fb;
    border-radius: 1mm;
    -webkit-border-radius: 1mm;
    -moz-border-radius: 1mm;
    -ms-border-radius: 1mm;
    -o-border-radius: 1mm;
}
section[id=Libro4] input[id=Libro4]:hover{
    color:rgb(255, 229, 225);
    background-color:  #dd7f70;
    text-decoration: none;
}
    section[id=Libro5]{
    background: rgb(243, 152, 100);
}
section[id=Libro5] input[id=Libro5]{
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 1%;
    margin-top: 5%;
    font-family: arial;
    text-transform: uppercase;
    float: right;
    border: #030303;
    font-size: 150%;
    color: black;
    background-color: #4b4d4e;
    border-radius: 1mm;
    -webkit-border-radius: 1mm;
    -moz-border-radius: 1mm;
    -ms-border-radius: 1mm;
    -o-border-radius: 1mm;
}
section[id=Libro5] input[id=Libro5]:hover{
    color:rgb(255, 229, 225);
    background-color:  #dd7f70;
    text-decoration: none;
}
/*Fin de la Section*/
/*Etiqueta Footer*/
footer{
    clear: both;
    width: 100%;
    margin-top: 1%;
    background-color: black;
    height: 75px;
    padding: 5px;
    overflow: hidden;
    /*Etiqueta p*/
    text-align:center;

}
footer div p{
    float: right;
    color: aliceblue;
    size: 1em;
}
footer div p:hover{
    color: coral;
}
footer div[class=BotonesExt] ,div[class=g-follow]{
    margin: 0%;
    float: left;
}

/*Fin del Footer*/

@media screen and (max-width:840px){
    .Principal{
        padding: 3px;
        width: auto;
    }
    #Header{
        padding: 3px;
        border-radius:0;
        width: 100%;
        widows: 100%;
    }.h1, h1{
        font-size: 2.5rem;
    }.h2, h2{
        font-size: 1.9rem;
    }.h3, h3{
        font-size: 1.2rem;
    }.h4, h4{
        font-size: 0.95rem;
    }
    #Foto{
        float: left;
        max-width: 70px; max-height: 70px;
    }
    #Portada{
        float: left;
        max-width: 200px; max-height: 400px;
        margin-top: 6px;
        padding-right: 12px;
    }
    .aliniadoCascada{
        padding: 3%;
        width:100%;
    }
    footer{
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
}
@media screen and (max-width: 520px){
    .Principal{
        width: auto;
    }
    #Header{
        width:100%;
        widows: 100%;
    }
    #Foto{
        float: left;
        max-width: 60px; max-height: 60px;
    }
    #Portada{
        float: left;
        max-width: 150px; max-height: 350px;
        margin-top: 3px;
        padding-right: 6px;
    }
    .aliniadoCascada{
        width: auto;
        float: none;
        -moz-float-edge: none;
        margin: 0px;
    }.h1, h1{
        font-size: 2.0rem;
    }.h2, h2{
        font-size: 1.0rem;
    }.h3, h3{
        font-size: 0.95rem;
    }.h4, h4{
        font-size: 0.85rem;
    }
    footer{
        width:auto;
        overflow: hidden;
    }
    footer div p{
        display: grid;
        display: none;
    }
    footer div[class=BotonesExt]{
        float: none;
    }
    /*Navegation*/
    .Lista{
        display: none;
    }
    #Nav li{
        float: none;
        display: block;
    }
    #Nav li a{
        padding: 5px;
        text-align: left;
        width: 100%;
    }
    .iconBars{
        display: block;
        text-align: right;
    }
    /*Fin del Navegation*/
}
@media screen and (max-width: 268px){
    .h1, h1{
    font-size: 1.5rem;
    } .h2, h2{
    font-size: 0.80rem;
    }.h3, h3{
    font-size: 0.80rem;
    }.h4, h4{
    font-size: 0.70rem;
    }
    footer{        
        overflow: hidden;
    }
    footer div p{
        display: grid;
        display: none;
    }
    footer div[class=BotonesExt]{
        float: none;
    }
}
@media screen and (max-width: 190px){
    .h1, h1{
    font-size: 0.95rem;
    } .h2, h2{
    font-size: 0.60rem;
    }.h3, h3{
    font-size: 0.80rem;
    }.h4, h4{
    font-size: 0.70rem;
    }p{
        size: 0.1rem;
    }
    header small{
        display: none;
    }
    #Portada{
        display: none;
    }
    footer div p{
        display: grid;
        color: aliceblue;
        size: 1em;
    }
}